@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, rgba(195, 197, 196, 0.1), #e8f7ec), url('../assets/credito-de-carbono.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #000;
  line-height: 1.6;
  font-size: medium;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #61d56e;
  padding: 15px 40px;
}

nav img {
  height: 120px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #2b9d38;
  color: #fff;
}

nav a.active {
  background-color: #205789;
  color: #fff;
}

.conteudo-principal {
  background-color: #e8f7ec;
  text-align: center;
  padding: 80px 20px;
}

.conteudo-principal h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #205789;
}

.conteudo-principal p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto 30px auto;
  color: #333;
}

.btn-central {
  background-color: #61d56e;
  color: #000;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn-central:hover {
  background-color: #2b9d38;
  color: #fff;
}

.info {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 10px auto;
  text-align: left;
  background:linear-gradient( to bottom, #e8f7ec8e 2%, #61d56e 98%);
  border-radius: 50px;
}

.info h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #205789;
}

.info p {
  margin-bottom: 40px;
  font-size: 1.1rem;
  color: #444;
}

footer {
  background-color: #61d56e;
  color: #000;
  padding: 30px 20px;
  text-align: center;
}

.logo-footer {
  height: 120px;
  margin-bottom: 7px;
}

footer a {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

footer a:hover {
  color: #205789;
}
